:root {
  --vp-c-brand-1: #7246de;
  --vp-c-brand-2: #8363d2;
  --vp-c-brand-3: #9f83e4;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(180deg, #bb99f6, #5c5eaa);
  --vp-home-hero-image-background-image: radial-gradient(#9653cb, #d9fdfe);
  --vp-home-hero-image-filter: blur(50px);
}
